# Editor backup files etc
*~
\#*

/*.xml
/*.spec
/odfvalidator
/odfchecker
/build/

# Autofoo
.deps
.libs
.dirstamp
.vscode
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.guess
config.status
config.sub
configure
compile
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
m4

*.o
*.lo
*.la
*.tar.gz

# C# .NET build outputs
example/*/C#/*/bin/
example/*/C#/*/obj/

# User-specific files
example/*/C#/*/*.user
example/*/C#/*/*.rsuser
example/*/C#/*/*.suo
example/*/C#/*/*.userosscache
example/*/C#/*/*.sln.docstates

# Rider project files
example/*/C#/*/.idea/

# Visual Studio Code workspace settings
example/*/C#/*/.vscode/

# Temporary files
example/*/C#/*/*.tmp
example/*/C#/*/*.log
example/*/C#/*/*.lock
example/*/C#/*/*.cache
example/*/C#/*/*.diff
example/*/C#/*/*.patch
example/*/C#/*/*.rej
example/*/C#/*/*.orig
example/*/C#/*/*.bak
example/*/C#/*/*.swp
example/*/C#/*/*.swo
example/*/C#/*/*.directory

# Other files and directories
example/*/C#/*/*.DS_Store
example/*/C#/*/Thumbs.db