Source: odfvalidator-lib
Section: utils
Priority: optional
Maintainer: Ministry of Digital Affairs <odf@moda.gov.tw>
Build-Depends: debhelper (>= 9), gcc, make
Standards-Version: 3.9.6
Homepage: https://www.ossii.com.tw/git/OSSIIDEV/odfvalidator-lib.git

Package: odfvalidator-lib
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, default-jre (>= 2:1.11)
Description: ODF Validator
 A tool to validate Open Document Format (ODF) files.

Package: odfvalidator-lib-dev
Architecture: any
Depends: odfvalidator-lib (= ${binary:Version})
Description: ODF Validator Library Development Files
 This package contains the development files for the ODF Validator library.
